


body{
    background-color: #F8F9FA;


}

.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100px;
    margin-right: auto;
    border-radius: 100px;
    border: 3px #b1aeae solid;
    margin-left: 1%;
    
}



i{
color: #bd31c4;
font-size: 30px;


}

.texto{
    font-size: 16px;
    color: #A7ACC1;
    
}